@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Hind+Madurai:wght@600&family=Montserrat:wght@800&display=swap');

body{
    color: #000;
    background-color: #fdfdff;
}

h1{
    font-family: "Montserrat";
    font-weight: bold;
}

p{
    font-family: "Catamaran";
    font-size: 1.5em;
}

.row, .col{
    margin: 0;
}

.img1{
    height: 32em;
    float: right;
    object-fit: cover;
}

.row{
    align-items: center;
}

.row .apar-4{
    padding-top:2%;
}

.row .apar-5{
    padding-top:2%;
}

.contenedor-amigos{
    background-color: transparent;
    padding: 2em;
    border-radius: 1.8em;
}

.post-img-1{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../../img/german.jpg);
    
}

.post-img-2{
    background-image: url(../../img/userphoto.jpg);
    background-position: 0px 2px
}

.post-img-3{
    background-image: url(../../img/johan.jpg);
}

